{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local/booking/availability_week

    Calendar detailed week view for blocks.

    The purpose of this template is to render the main, detailed weekly view.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Example context (json):
    {
    }
}}
<div id="calendar-week" class="weekwrapper" data-template="local_booking/availability_week">
    <div{{!
        }} class="calendarwrapper"{{!
        }}{{#courseid}} data-courseid="{{courseid}}"{{/courseid}}{{!
        }} data-contextid="{{contextid}}"{{!
        }} data-week="{{weekofyear}}"{{!
        }} data-month="{{date.mon}}"{{!
        }} data-year="{{date.year}}"{{!
        }} data-time="{{date.timestamp}}"{{!
        }} data-action="{{action}}"{{!
        }} data-viewall="{{groupview}}"{{!
        }} data-student-id="{{studentid}}"{{!
        }} data-exercise-id="{{exerciseid}}"{{!
        }} data-minslotperiod="{{minslotperiod}}"{{!
        }}>
        {{> core/overlay_loading}}
        <style>
            table.calendarmonth td:nth-child({{maxlanes}}n+2) {
                border-right: 1px solid lightgrey;
            }
        </style>
        {{^editing}}
        {{#alreadybooked}}
        <br/><span style="color: darkred;" class="availability-student">{{alreadybookedmsg}}</span>
        {{/alreadybooked}}
        {{/editing}}
        <form id="calendar">
            <table id="week-detail" data-region="slots-week" class="calendarmonth slotcalendartable mb0 table-hover">
                <thead>
                    <tr>
                        {{#showlocaltime}}
                        <th class="header text-xs-center localtime">
                            <br><span class="media-body small" aria-hidden="true">{{#str}} local, local_booking {{/str}}</span></br>
                        </th>
                        {{/showlocaltime}}
                        <th class="header text-xs-center zulutime">
                            <span class="media-body" aria-hidden="true">{{#str}} zulutime, local_booking {{/str}}</span>
                        </th>
                        {{#daynames}}
                        <th class="header text-xs-center daynames" colspan="{{maxlanes}}" data-region="slot-week-day">
                            <span class="sr-only">{{fullname}}</span>
                            <span aria-hidden="true">{{shortname}}</span>
                            <br><span class="media-body small slot-month-day" aria-hidden="true">{{dayofmonth}}</span></br>
                        </th>
                        {{/daynames}}
                    </tr>
                </thead>
                <tbody>
                {{#timeslots}}
                    <tr data-region="month-view-week">
                        {{#showlocaltime}}
                        <td class="text-sm-center text-md-left localtimecol">
                            <span class="media-body small" style="display:block; text-align:center;" aria-hidden="true">{{localtimeslot}}</span>
                        </td>
                        {{/showlocaltime}}
                        <td class="text-sm-center text-md-left zulutimecol"
                            data-slot="{{timeslot}}">
                            <span class="media-body small font-weight-bold" style="display:block; text-align:center;" aria-hidden="true">{{timeslot}}</span>
                        </td>
                        {{#days}}
                        <td id="slot-{{timestamp}}" class="day text-sm-center text-md-left slot-month-day{{!
                            }}{{^groupview}}{{#slotavailable}} clickable{{/slotavailable}}{{#slotmarked}} slot-{{slotstatus}}{{/slotmarked}}{{/groupview}}{{!
                            }}{{#groupview}}{{#slotbooked}} slot-{{slotstatus}}{{/slotbooked}}{{/groupview}}{{!
                            }}{{^slotavailable}} slot-unavailable{{/slotavailable}}{{!
                            }}"
                            {{#groupview}}{{^slotbooked}}{{#slotmarked}}style="background-color: {{slotcolor}}; border-top: 1px solid {{slotcolor}};"{{/slotmarked}}{{/slotbooked}}{{/groupview}}
                            data-slot-timestamp="{{timestamp}}"
                            data-slot-marked="{{slotmarked}}"
                            data-slot-booked="{{slotbooked}}"
                            data-slot-status="{{slotstatus}}"
                            data-region="{{#slotavailable}}{{^groupview}}day{{/groupview}}{{/slotavailable}}"{{!
                            }}{{#slotbooked}}
                            data-toggle="tooltip"
                            data-html="true"
                            title="{{{slotstatustooltip}}}"
                            {{/slotbooked}}{{!
                            }}{{!
                            }}{{#groupview}}{{!
                            }}{{#slotmarked}}
                            data-toggle="tooltip"
                            data-html="true"
                            title="{{{slotstatustooltip}}}"
                            {{/slotmarked}}{{!
                            }}{{/groupview}}
                            data-new-event-timestamp="{{neweventtimestamp}}">
                        </td>
                        {{/days}}
                    </tr>
                {{/timeslots}}
                </tbody>
            </table>
        </form>
        {{#editing}}
        <div>
            <span class="small"><a href='{{viewallurl}}'>{{#str}} availabilityallview, local_booking {{/str}}</a></span>
        </div>
        {{/editing}}
    </div>
</div>

