{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_booking/dashboard_bookings

    Student progression view for instructor booking.

    The purpose of this template is to render the main, detailed weekly view.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Example context (json):
    {
    }
}}
<div id="instructordashboard" {{!
    }} class="bookingwrapper"{{!
    }}{{#courseid}} data-courseid="{{courseid}}"{{/courseid}}{{!
    }} data-contextid="{{contextid}}"{{!
    }} data-trainingtype="{{trainingtype}}"{{!
    }} data-findpirep="{{findpirepenabled}}"{{!
    }}>
    {{> core/overlay_loading}}
    <table class="booking-title">
        <tr>
            <td><h3>{{#str}} activestudents, local_booking {{/str}}</h3></td>
            <td class="mdl-right"><h5>{{#str}} averagewaittime, local_booking {{/str}}: <strong>{{avgwait}}</strong></h5></td>
        </tr>
        <tr>
            <td colspan="2" class="mdl-right">
                <span style="font-size: small;">{{#str}} bookingtotalstudents, local_booking {{/str}}: <strong>{{totalstudents}}</strong>
                </span>
                <br />
                <span style="font-size: small;">{{#str}} bookingsortby, local_booking {{/str}}: {{!
                    }}{{^scoresort}}<u>{{/scoresort}}
                    <a href="{{url}}&sort=a" data-toggle="tooltip" title="{{#str}} bookingsortbyavailabilitytooltip, local_booking {{/str}}">{{#str}} bookingsortbyavailability, local_booking{{/str}}</a>{{!
                    }}{{^scoresort}}</u>{{/scoresort}} | {{!
                    }}{{#scoresort}}<u>{{/scoresort}}
                    <a href="{{url}}&sort=s" data-toggle="tooltip" title="{{#str}} bookingsortbyscoretooltip, local_booking {{/str}}">{{#str}} bookingsortbyscore, local_booking {{/str}}</a>{{!
                    }}{{#scoresort}}</u>{{/scoresort}}
                </span>
            </td>
        </tr>
    </table>
    <table id="progression-detail-{{uniqid}}" data-region="student-progression" class="table-hover booking-table">
        <thead>
            <tr>
                <th class="header booking-header booking-xsmall text-xs-center ">
                    <span class="media-body" aria-hidden="true">#</span>
                </th>
                <th class="header booking-header text-xs-center">
                    <span class="media-body" aria-hidden="true">{{#str}} student, local_booking {{/str}}</span>
                </th>
                <th class="header booking-header booking-xsmall text-xs-center">
                    <span class="media-body" aria-hidden="true">{{studentinfo}}</span>
                </th>
                <th class="header booking-header booking-med text-xs-center">
                    <span class="media-body" aria-hidden="true">{{#str}} simulator, local_booking {{/str}}</span>
                </th>
                <th class="header booking-header booking-med text-xs-center">
                    <span class="media-body" aria-hidden="true">{{#str}} fleet, local_booking {{/str}}</span>
                </th>
                {{#showactive}}
                <th class="header booking-header booking-big text-xs-center">
                    <span class="media-body" aria-hidden="true">{{#str}} sessionaction, local_booking {{/str}}</span>
                </th>
                {{/showactive}}
                {{#coursemodules}}
                <th class="header booking-header booking-xbig text-xs-center"
                    data-toggle="tooltip"
                    title="{{{exercisename}}}"
                    data-html="true"
                    data-region="lesson-exercise">
                    <span class="media-body small" aria-hidden="true">{{#shortentext}} 30, {{{exercisetitle}}} {{/shortentext}}</span>
                </th>
                {{/coursemodules}}
            </tr>
        </thead>
        <tbody>
            {{#activestudents}}
            <tr data-region="student">
                <td class="text-sm-center {{tag}}"
                    data-toggle="tooltip"
                    title="{{{sequencetooltip}}}"
                    data-html="true">
                    <span class="media-body small" aria-hidden="true">{{sequence}}</span>
                </td>
                <td class="booking-truncate">
                    <span><a href="{{profileurl}}">{{studentname}}</a></span><br/>
                </td>
                <td class="day text-sm-center"
                    data-toggle="tooltip"
                    title="{{{recencytooltip}}}"
                    data-html="true">
                    <span class="media-body text-nowrap small{{#overduewarning}} session-overdue{{/overduewarning}}{{#latewarning}} session-late{{/latewarning}}"
                    aria-hidden="true">{{!
                        }}{{#showactive}} {{dayssincelast}} {{/showactive}}{{!
                        }}{{#showonhold}} {{dayssincelast}} {{/showonhold}}{{!
                        }}{{#showgraduates}} {{dateinfo}} {{/showgraduates}}{{!
                        }}{{#showsuspended}} {{dateinfo}} {{/showsuspended}}{{!
                        }}
                    </span>
                </td>
                <td class="day text-sm-center">
                    <span class="media-body small" aria-hidden="true">{{simulator}}</span>
                </td>
                <td class="day text-sm-center" style="white-space: nowrap; padding: 0 5px 0 5px;">
                    <span class="media-body small" aria-hidden="true">{{fleet}}</span>
                </td>
                {{#showactive}}
                <td class="day"
                    data-toggle="tooltip"
                    data-html="true"
                    title="{{actiontooltip}}"
                    <div id="action-button-{{studentid}}" class="singlebutton session-right">
                        <a href="{{actionurl}}"{{^actionenabled}} class="disabled-link"{{/actionenabled}}>
                            <button id="exercise-session" class="session-button {{#actionenabled}}session-button-{{actiontype}}{{/actionenabled}}
                                {{^actionenabled}}session-button-disabled{{/actionenabled}}"
                                data-region="action-button">
                                {{#pix}} {{actiontype}}, local_booking {{/pix}}
                                <span>&nbsp;&nbsp;&nbsp;{{actionname}}</span>
                            </button>
                        </a>
                    </div>
                </td>
                {{/showactive}}
                {{#sessions}}
                <td class="text-sm-center" style="max-width: 20px; padding: 0px;"
                    {{#graded}}data-action="view-logentry"{{/graded}}
                    data-exercise-status="{{sessionstatus}}"
                    {{#graded}}{{^isquiz}}
                    data-region="session-entry"
                    data-session-passed="{{passed}}"
                    data-student-id="{{studentid}}"
                    data-session-id="{{sessionid}}"
                    data-exercise-id="{{exerciseid}}"
                    data-session-date="{{sessiondatets}}"
                    data-flight-date="{{lastbookingts}}"
                    data-flight-type="{{flighttype}}"
                    data-logentry-id="{{logentryid}}"
                    data-cascade="1"
                    {{/isquiz}}{{/graded}}
                    {{^sessionempty}}
                    data-toggle="tooltip"
                    data-html="true"
                    title="{{{sessiontooltip}}}"
                    {{/sessionempty}}>
                    <div id="exercise-session" class="d-md-block text-xs-center{{#canlogentry}}{{^sessionempty}} clickable{{/sessionempty}}{{/canlogentry}}">
                        <span id="exercise-{{studentid}}-{{exerciseid}}" class="session-date media-body fa-inverse{{!
                            }}{{^sessionempty}} session-{{status}}{{/sessionempty}}{{!
                            }}">{{^isquiz}}{{^logentrymissing}}{{^marknoposts}}&nbsp;{{/marknoposts}}{{/logentrymissing}}{{/isquiz}}
                            {{#logentrymissing}}
                            {{#pix}} {{sessionicon}}, local_booking,{{#str}} logentrymissing, local_booking {{/str}} {{/pix}}
                            {{/logentrymissing}}
                            {{#quizpassed}}
                            {{#pix}} check, local_booking {{/pix}}
                            {{/quizpassed}}
                            {{#marknoposts}}<span class="d-md-block session-posts">{{noposts}}</span>{{/marknoposts}}
                        </span>
                    </div>
                </td>
                {{/sessions}}
            </tr>
            {{/activestudents}}
        </tbody>
    </table>
    <table class="booking-title mt-2">
        <tr data-region="students-filter">
            <td class="float-left me-3 text-sm-left small">
                <input type="radio" id="showactive" {{showactive}} value="active" name="studentsfilter"> {{#str}} showactive , local_booking {{/str}}
            </td>{{!
            }}{{#restrictionsenabled}}{{!
            }}
            <td class="float-left me-3 text-sm-left small">
                <input type="radio" id="showonhold" {{showonhold}} value="onhold" name="studentsfilter"> {{#str}} showonhold , local_booking {{/str}}
            </td>{{!
            }}{{/restrictionsenabled}}{{!
            }}
            <td class="float-left me-3 text-sm-left small"">
                <input type="radio" id="showgraduates" {{showgraduates}} value="graduates" name="studentsfilter"> {{#str}} showgraduates , local_booking {{/str}}
            </td>
            <td class="float-left me-3 text-sm-left small">
                <input type="radio" id="showsuspended" {{showsuspended}} value="suspended" name="studentsfilter"> {{#str}} showsuspended , local_booking {{/str}}
            </td>
        </tr>
    </table>
    <p>
</div>
