{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_booking/logbook_std

    Log book view for summary and log book entries.

    The purpose of this template is to render the main, detailed weekly view.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Example context (json):
    {
    }
}}
<div class="logbook-body">
    <br>
    <div class="float-right">
        <button type="button" class="btn btn-primary btn-sm" title="{{#str}} logbookformateasatip , local_booking {{/str}}" onclick="location.href='{{{easaformaturl}}}';">{{#str}} logbookformateasa, local_booking {{/str}}</button>
        <button type="button" class="btn btn-primary btn-sm mr-3" title="{{#str}} logbookformatcourse , local_booking {{/str}}" onclick="location.href='{{{stdformaturl}}}';">&nbsp;&nbsp;{{courseshortname}}&nbsp;&nbsp;</button>
    </div>
    <div class="logbook-card logbook-shadow2">
        <h2 class="logbook-h2">{{#str}} logbooksummary, local_booking {{/str}}</h2>
        <pre>{{#str}} pilot, local_booking {{/str}}: <span class="logbook-highlight">{{username}}</span>

        {{#str}} totalgroundtime, local_booking {{/str}}<span class="logbook-highlight">&#09;&#09;{{totalgroundtime}}</span>
        {{#str}} logbooktotaltimestd, local_booking {{/str}}<span class="logbook-highlight">&#09;&#09;{{totalflighttime}}</span>

        {{#str}} totalpictime, local_booking {{/str}}<span class="logbook-highlight">&#09;&#09;{{totalpictime}}</span>
        {{#dualops}}
        {{#isstudent}}
        {{#str}} totaldualtime, local_booking {{/str}}<span class="logbook-highlight">&#09;&#09;{{totaldualtime}}</span>
        {{/isstudent}}
        {{/dualops}}
        {{^dualops}}
        {{#str}} totalmultipilottime, local_booking {{/str}}<span class="logbook-highlight">&#09;{{totalmultipilottime}}</span>
        {{#isstudent}}
        {{#str}} totalcopilottime, local_booking {{/str}}<span class="logbook-highlight">&#09;{{totalcopilottime}}</span>
        {{/isstudent}}
        {{/dualops}}
        {{#str}} totalifrtime, local_booking {{/str}}<span class="logbook-highlight">&#09;&#09;{{totalifrtime}}</span>
        {{#str}} totalnighttime, local_booking {{/str}}<span class="logbook-highlight">&#09;&#09;{{totalnighttime}}</span>
        {{^isstudent}}
        {{#str}} totalinstructortime, local_booking {{/str}}<span class="logbook-highlight">&#09;{{totalinstructortime}}</span>
        {{#str}} totalcheckpilottime, local_booking {{/str}}<span class="logbook-highlight">&#09;{{totalcheckpilottime}}</span>
        {{/isstudent}}
        {{#checkflight}}
        {{#isstudent}}
        {{#str}} totalpicustime, local_booking {{/str}}<span class="logbook-highlight">&#09;&#09;{{totalpicustime}}</span>
        {{/isstudent}}
        {{/checkflight}}

        {{#str}} totallandingsday, local_booking {{/str}}<span class="logbook-highlight">&#09;&#09;{{totallandingsday}}</span>
        {{#str}} totallandingsnight, local_booking {{/str}}<span class="logbook-highlight">&#09;&#09;{{totallandingsnight}}</span>
        </pre>
    </div>

{{#entries}}
    <div class="logbook-card logbook-shadow1">
    <h2 class="logbook-h2">{{{sectionname}}}</h2>
        {{^soloflight}}
        <h4>{{{exercisename}}}</h4><br/>
        {{/soloflight}}
        {{#soloflight}}
        <h4>{{#str}} soloflight, local_booking {{/str}}</h4><br/>
        {{/soloflight}}
        <pre><strong>{{#str}} logentry, local_booking {{/str}}:</strong>
        {{#str}} flightdate, local_booking {{/str}}&#09;&#09;&#09;&#09;{{flightdate}}
        {{#str}} flighttype, local_booking {{/str}}&#09;&#09;&#09;&#09;{{trainingflight}} {{#checkflight}}{{#passedcheck}}<span class="logbook-check-pass">[{{#str}} checkpassed , local_booking{{/str}}]</span>{{/passedcheck}}{{^passedcheck}}<span class="logbook-check-fail">[{{#str}} checkfailed , local_booking{{/str}}]</span>{{/passedcheck}}{{/checkflight}}
        {{p1label}}&#09;&#09;&#09;&#09;{{p1name}}
        {{^soloflight}}
        {{p2label}}&#09;&#09;&#09;&#09;&#09;{{p2name}}
        {{/soloflight}}

        {{^soloflight}}
        {{#str}} groundtime, local_booking {{/str}}&#09;&#09;&#09;&#09;{{groundtime}}
        {{/soloflight}}
        {{#soloflight}}
        {{#str}} pictime, local_booking {{/str}}&#09;&#09;&#09;&#09;{{pictime}}
        {{/soloflight}}
        {{^isstudent}}
        {{#str}} pictime, local_booking {{/str}}&#09;&#09;&#09;&#09;{{pictime}}
        {{/isstudent}}
        {{^isstudent}}
        {{^checkflight}}
        {{#str}} instructortime, local_booking {{/str}}&#09;&#09;&#09;&#09;{{instructortime}}
        {{/checkflight}}
        {{/isstudent}}
        {{#dualops}}
        {{#isstudent}}
        {{^soloflight}}
        {{#str}} dualtime, local_booking {{/str}}&#09;&#09;&#09;&#09;{{dualtime}}
        {{/soloflight}}
        {{/isstudent}}
        {{/dualops}}
        {{^dualops}}
        {{#str}} multipilottime, local_booking {{/str}}&#09;&#09;&#09;{{multipilottime}}
        {{#str}} nighttime, local_booking {{/str}}&#09;&#09;&#09;&#09;{{nighttime}}
        {{#isstudent}}
        {{#str}} copilottime, local_booking {{/str}}&#09;&#09;&#09;&#09;{{copilottime}}
        {{/isstudent}}
        {{/dualops}}
        {{#str}} ifrtime, local_booking {{/str}}&#09;&#09;&#09;&#09;{{ifrtime}}
        {{#checkflight}}
        {{#isstudent}}
        {{#str}} picustime, local_booking {{/str}}&#09;&#09;&#09;&#09;{{picustime}}
        {{/isstudent}}
        {{^isstudent}}
        {{#str}} checkpilottime, local_booking {{/str}}&#09;&#09;&#09;&#09;{{checkpilottime}}
        {{/isstudent}}
        {{/checkflight}}

        {{#str}} aircraft, local_booking {{/str}}&#09;&#09;&#09;&#09;{{aircraft}}
        {{#str}} callsign, local_booking {{/str}}&#09;&#09;&#09;&#09;{{callsign}}
        {{#str}} pirep, local_booking {{/str}}&#09;&#09;&#09;&#09;&#09;{{pirep}}
        {{#str}} depicao, local_booking {{/str}}&#09;&#09;&#09;&#09;{{depicao}} - {{deptime}}
        {{#str}} arricao, local_booking {{/str}}&#09;&#09;&#09;&#09;{{arricao}} - {{arrtime}}
        {{#str}} route, local_booking {{/str}}:&#09;&#09;&#09;&#09;&#09;{{route}}

        {{#str}} remarks, local_booking {{/str}}:</pre><span class="logbook-remarks">{{remarks}}</span>

  </div>
{{/entries}}
<br>
</div>

