{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_booking/logentry_placeholder

    This template renders a card logentry loading placeholder for logentry being updated.

    Example context (json):
    {}
}}
<div class="card dashboard-card mb-1" style="border: 0px; width: 800px;">
    <div class="bg-pulse-grey mt-1" style="width: 120px; height: 1rem;"></div>
    <div class="card-body p-2">
        <div class="d-flex flex-row mw-400 align-items-center">
            <div class="pl-4" style="flex: 1;">
                <div class="bg-pulse-grey ml-4" style="width: 100px; height: 1rem;"></div>
                <div class="bg-pulse-grey mt-1 ml-4" style="width: 100px; height: 1rem;"></div>
                <div class="bg-pulse-grey mt-1 ml-4" style="width: 90px; height: 1rem;"></div>
                <div class="bg-pulse-grey mt-1 ml-4" style="width: 60px; height: 1rem;"></div>
                <br/>
                <div class="bg-pulse-grey mt-1 ml-4" style="width: 100px; height: 1rem;"></div>
                <div class="bg-pulse-grey mt-1 ml-4" style="width: 90px; height: 1rem;"></div>
                <div class="bg-pulse-grey mt-1 ml-4" style="width: 70px; height: 1rem;"></div>
                <br/>
                <div class="bg-pulse-grey mt-1 ml-4" style="width: 70px; height: 1rem;"></div>
                <div class="bg-pulse-grey mt-1 ml-4" style="width: 70px; height: 1rem;"></div>
                <div class="bg-pulse-grey mt-1 ml-4" style="width: 45px; height: 1rem;"></div>
                <div class="bg-pulse-grey mt-1 ml-4" style="width: 120px; height: 1rem;"></div>
                <div class="bg-pulse-grey mt-1 ml-4" style="width: 110px; height: 1rem;"></div>
                <div class="bg-pulse-grey mt-1 ml-4" style="width: 45px; height: 1rem;"></div>
                <br/>
                <div class="bg-pulse-grey mt-1 ml-4" style="width: 45px; height: 1rem;"></div>
                </div>
            <div class="pl-5" style="flex: 2; float: left;">
                <div class="bg-pulse-grey" style="width: 250px; height: 1rem;"></div>
                <div class="bg-pulse-grey mt-1" style="width: 180px; height: 1rem;"></div>
                <div class="bg-pulse-grey mt-1" style="width: 200px; height: 1rem;"></div>
                <div class="bg-pulse-grey mt-1" style="width: 160px; height: 1rem;"></div>
                <br/>
                <div class="bg-pulse-grey mt-1" style="width: 40px; height: 1rem;"></div>
                <div class="bg-pulse-grey mt-1" style="width: 40px; height: 1rem;"></div>
                <div class="bg-pulse-grey mt-1" style="width: 40px; height: 1rem;"></div>
                <br/>
                <div class="bg-pulse-grey mt-1" style="width: 45px; height: 1rem;"></div>
                <div class="bg-pulse-grey mt-1" style="width: 60px; height: 1rem;"></div>
                <div class="bg-pulse-grey mt-1" style="width: 90px; height: 1rem;"></div>
                <div class="bg-pulse-grey mt-1" style="width: 100px; height: 1rem;"></div>
                <div class="bg-pulse-grey mt-1" style="width: 100px; height: 1rem;"></div>
                <div class="bg-pulse-grey mt-1" style="width: 40px; height: 1rem;"></div>
                <br/>
                <div>&nbsp;</div>
            </div>
        </div>
    </div>
</div>