{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_booking/progression_detailed

    Calendar week view for blocks.

    The purpose of this template is to render the main, detailed weekly view.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Example context (json):
    {
    }
}}
<div{{!
    }} class="progressionwrapper"{{!
    }}{{#courseid}} data-courseid="{{courseid}}"{{/courseid}}{{!
    }} data-context-id="{{contextid}}"{{!
    }}>
    <p><h3>{{#str}}title,local_booking{{/str}}</h3></p>
    <table id="progression-detail-{{uniqid}}" data-region="student-progression" data-testid="666" class="table-hover table-bordered">
        <thead>
            <tr>
                <th class="header booking-header text-xs-center " style="width: 20px;">
                    <span class="media-body" aria-hidden="true">#</span>
                </th>
                <th class="header booking-header text-xs-center">
                    <span class="media-body" aria-hidden="true">{{#str}}students,local_booking{{/str}}</span>
                </th>
                <th class="header booking-header text-xs-center" style="width: 30px;">
                    <span class="media-body" aria-hidden="true">{{#str}}wait,local_booking{{/str}}</span>
                </th>
                <th class="header booking-header text-xs-center" style="width: 60px;">
                    <span class="media-body" aria-hidden="true">{{#str}}simulator,local_booking{{/str}}</span>
                </th>
                <th class="header booking-header text-xs-center" style="width: 80px;">
                    <span class="media-body" aria-hidden="true">{{#str}}sessionaction,local_booking{{/str}}</span>
                </th>
                {{#exercisenames}}
                <th class="header booking-header text-xs-center" data-region="lesson-exercise" style="width: 100px;">
                    <span class="media-body small" aria-hidden="true">{{exercisetitle}}</span><br/>
                    <span class="media-body small" aria-hidden="true">{{exercisetype}}</span>
                </th>
                {{/exercisenames}}
            </tr>
        </thead>
        <tbody>
        {{#activestudents}}
            <tr data-region="student">
                <td class="text-sm-center"
                    data-toggle="tooltip"
                    title="{{sequencetooltip}}"
                    data-html="true">
                    <span class="media-body small" aria-hidden="true">{{sequence}}</span>
                </td>
                <td class="booking-truncate">
                    <span>{{studentname}}</span>
                </td>
                <td class="day text-sm-center">
                    <span class="media-body small{{#overduewarning}} session-overdue{{/overduewarning}}{{#latewarning}} session-late{{/latewarning}}"
                    aria-hidden="true">{{dayssincelast}}</span>
                </td>
                <td class="day text-sm-center">
                    <span class="media-body small" aria-hidden="true">{{simulator}}</span>
                </td>
                <td class="day text-sm-center text-md-left"
                    {{#lessonincomplete}}
                    data-toggle="tooltip"
                    title="{{#str}}incompletelessontooltip,local_booking{{/str}}"
                    {{/lessonincomplete}}>
                    <div id="action-button-{{studentid}}" class="singlebutton" style="float: right;">
                        <a href="{{actionurl}}"{{#lessonincomplete}} class="disabled-link"{{/lessonincomplete}}>
                        <button class="session-button session-button-{{actiontype}}"
                            data-region="action-button">
                            <i class="fa fa-{{#actionbook}}plane{{/actionbook}}{{^actionbook}}bookmark{{/actionbook}}" style="padding-right: 5px;"></i>
                            {{actionname}}
                        </button>
                         </a>
                    </div>
                </td>
            {{#sessions}}
                <td class="text-sm-center"
                    data-exercise-status="{{sessionstatus}}"
                    {{#graded}}data-region="session-entry"
                    data-student-id="{{studentid}}"
                    data-exercise-id="{{exerciseid}}"
                    data-session-date="{{sessionts}}"
                    {{/graded}}
                    {{^sessionempty}}
                    data-toggle="tooltip"
                    title="{{sessionstatustooltip}}"
                    {{/sessionempty}}>
                    <div class="d-md-block text-xs-center{{#graded}} clickable{{/graded}}" >
                        <span id="exercise-{{studentid}}-{{exerciseid}}" class="session-date media-body fa-inverse{{!
                        }}{{#graded}} session-graded{{/graded}}{{!
                        }}{{#booked}} session-booked{{/booked}}{{!
                        }}{{#tentative}} session-tentative{{/tentative}}{{!
                        }}">&nbsp;</span>
                    </div>
                </td>
            {{/sessions}}
            </tr>
        {{/activestudents}}
        </tbody>
    </table>
</div>
